<div class="details-container">
  <!-- IMAGE -->
  <div class="image-box">
    <img [src]="location?.photo" />
  </div>

  <!-- CONTENT -->
  <div class="content-box">
    <h2>{{ location?.name }}</h2>
    <p>{{ location?.city }}, {{ location?.state }}</p>

    <div class="info">
      <p>Units available: {{ location?.availableUnits }}</p>
      <p>Wifi: {{ location?.wifi }}</p>
      <p>Laundry: {{ location?.laundry }}</p>
    </div>
  </div>

  <!-- NAVIGATION -->
  <div class="nav-buttons">
    <button (click)="handlePrev()" [disabled]="locationIndex <= 0">Prev Page</button>
    <button (click)="handleEdit()">Edit</button>
    <button (click)="handleNext()" [disabled]="locationIndex >= allLocationsList.length - 1">
      Next Page
    </button>
  </div>
  <router-outlet></router-outlet>
</div>
