<section>
  <form>
    <input type="text" placeholder="Filter by city" />
    <button class="primary" type="button">Search</button>
  </form>

  <section>
    <div class="switch-container">
      <span>Edit Mode:</span>

      <label class="switch">
        <input type="checkbox" [checked]="mode() === 'edit'" (change)="toggleMode()" />
        <span class="slider"></span>
      </label>

      <span class="mode-text">
        {{ mode() === 'edit' ? 'Edit Mode' : 'Normal Mode' }}
      </span>
    </div>

    <!-- Add -->
    <button class="add-btn" [disabled]="mode() !== 'edit'" (click)="onAddLocation()">
      Add Location
    </button>

    <!-- Delete -->
    <button class="delete-btn" [disabled]="selectedCount() === 0" (click)="onDelete()">
      Delete Selected Items ({{ selectedCount() }})
    </button>

    <!-- Restore -->
    <button
      class="restore-btn"
      (click)="onRestore()"
      [disabled]="locationService.getDeletedCount() === 0"
    >
      Restore Deleted Items ({{ locationService.getDeletedCount() }})
    </button>
  </section>

  <section class="results">
    @for (vm of locationsToDisplay(); track vm.id) {
      <app-housing-location
        [location]="vm"
        [selected]="vm.selected"
        (onLocationClick)="handleLocationClick(vm)"
      />
    } @empty {
      <h1>Empty data</h1>
    }
  </section>
</section>
