<button class="container" (click)="handleClick($event)">
  <section class="listing">
    @if (location().wifi) {
      <img src="/public/wifi.svg" class="wifi-icon" alt="WiFi available" />wifi
    }
    <img
      class="listing-photo"
      [src]="location().photo"
      alt="Exterior photo of {{ location().name }}"
      crossorigin
    />
    <h2 class="listing-heading">{{ location().name }}</h2>
    <p class="listing-location">{{ location().city }}, {{ location().state }}</p>
  </section>
</button>
